<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= render "layouts/navigation/navigation_header" %>

    <%= render "layouts/navigation/collapsible_elements/navigation_collapsible_elements" %>
  </div>
</nav>
